
#header img {
    height: 48px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.navbar {
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#header {
    transition: all 150ms ease-in-out;
}

div {
    display: block;
}

.bg-white {
    --bs-bg-opacity: 1;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.dropdown-menu {
    position: absolute;
    display: none;
    margin: 0;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-menu {
    position: absolute;
    display: none;
    margin: 0;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}